h1 {
    font-size: 1.8rem;
    margin: 0;
    margin: 1rem;
    text-align: center;
    font-weight: 600;
    color: #3f51b5; /* Primary color */
    border-bottom: 1px solid #e0e0e0;
  }
  
  .mat-dialog-content {
    font-size: 1.2rem;
    text-align: center;
    margin: 2rem 1rem;
    color: #444; /* Softer text color */
  }
  
  .mat-mdc-dialog-actions {
    justify-content: center;
}
  

  